@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <script src="~/lib/scripts/jquery.min.js"></script>
    <script src="~/lib/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/scripts/bootstrap.min.js"></script>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <section>@RenderBody()</section>
    <footer>This is Footer</footer>
</body>
</html>
