@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/scripts/jquery.min.js"></script>
<script src="~/lib/scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>Index</h2>
<div>
    <marquee>Welcome To ManzoorTheTrainer</marquee>
</div>

<div id="myDiv">
    @*@ViewBag.MyDate*@

    @{ Html.RenderPartial("pv_AjaxUpdate");}
</div>

<a asp-controller="Home" asp-action="Index">Update DateTime</a>

<a asp-controller="Home" asp-action="AjaxUpdate"
   data-ajax="true"
   data-ajax-method="get"
   data-ajax-update="#myDiv"
   data-ajax-mode="replace">Update DateTime - Ajax</a>
